<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='create_user.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/Users/pranavkonduru/Desktop/CodingDojo/python/full_stack/users/static/create_user.css"> -->
    <title>Add User to DB</title>
</head>
<body>
    <div id='container'>
        <h1>Add a User
        </h1>
        <form action="/create_user" method="POST">
            <p class="form-group row">
                <label class="col-sm-2 col-form-label" for="fname">First Name:</label>
                <input class="col-sm-10" type="text" name="fname">
            </p>
            <p class="form-group row"> 
                <label  class="col-sm-2 col-form-label" for="lname">Last Name:</label>
                <input  class="col-sm-10" type="text" name="lname">
            </p>
            <p class="form-group row">
                <label class="col-sm-2 col-form-label" for="email" >Email Address:</label>
                <input class="col-sm-10" type="text" name="email">
            </p>
            <p>
                <button type="submit" class="btn btn-primary mb-2">Add User</button>
                <span> | </span>
                <a href="/users">Home</a>
            </p>
        </form> 
    </div>
</body>
</html>