<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='new_ninja.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Create New Ninja</title>
</head>
<body>
    <div id='container'>
        <h1>New Ninja</h1>
        <div id='new_user_form'>
            <form>
                <p>
                    <label>Dojo</label>
                    <select id="dojo_name" name="dojo_name">
                        <option value='Seattle'>Seattle</option>
                        <option value='San Jose'>San Jose</option>
                        <option value='North Carolina'>North Carolina</option>
                        <option value='DC'>DC</option>
                    </select>
                </p>
                <p>
                    <label>First Name</label>
                    <input type="text" id="first_name" name="first_name">
                </p>
                <p>
                    <label>Last Name</label>
                    <input type="text" id="last_name" name="last_name">
                </p>
                <p>
                    <label>Age</label>
                    <input type="text" id="age" name="age">
                </p>
            </form>
        </div>
    </div>
</body>
</html>